## CASE :-

### We are going to predict whether a credit card transaction is ( Legal ) or Fraud.

#### WORK PROCESS :- 

- Credit card data
- Data Pre Processing
- Data Analysis
- Train Test Split
- Logistic Regression Model
- Model Evaluation
- Predictive System

In [1]:
## Importing the necessary libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
## Importing the dataset

data = pd.read_csv("Credit Card.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
## Data information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    1175 non-null   int64
 1   V1      1175 non-null   float64
 2   V2      1175 non-null   float64
 3   V3      1175 non-null   float64
 4   V4      1175 non-null   float64
 5   V5      1175 non-null   float64
 6   V6      1175 non-null   float64
 7   V7      1175 non-null   float64
 8   V8      1175 non-null   float64
 9   V9      1175 non-null   float64
 10  V10     1175 non-null   float64
 11  V11     1175 non-null   float64
 12  V12     1175 non-null   float64
 13  V13     1175 non-null   float64
 14  V14     1175 non-null   float64
 15  V15     1175 non-null   float64
 16  V16     1175 non-null   float64
 17  V17     1175 non-null   float64
 18  V18     1175 non-null   float64
 19  V19     1175 non-null   float64
 20  V20     1175 non-null   float64
 21  V21     1175 non-null   float64
 22  V22     1175 non-null   float64
 23  V23     1175 non-null   float64
 24  V24     1175 non-null   float64
 25  V25     1175 non-null   float64
 26  V26     1175 non-null   float64
 27  V27     1175 non-null   float64
 28  V28     1175 non-null   float64
 29  Amount  1175 non-null   float64
 30  Class   1175 non-null   int64
dtypes: float64(29), int64(2)
memory usage: 284.7 KB

In [4]:
## Checking missing values in each column
data.isnull().sum().sum()

0

In [5]:
## Checking distribution of class column

data['Class'].value_counts()

0    1173
1       2
Name: Class, dtype: int64

#### This is highly imbalanced data set :-

- 0 --> Legit Transaction

- 1 --> Fraudulent Transaction

In [6]:
## Separating the data for analysis

legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [7]:
## Checking the shape of the DataSet
print(legit.shape)
print(fraud.shape)

(1173, 31)
(2, 31)

In [8]:
## Statistical measure of data
## Checking the Description  of the DataSet for Legit Transactions

legit.Amount.describe()

count    1173.000000
mean       65.064510
std       181.271328
min         0.000000
25%         5.310000
50%        15.380000
75%        55.450000
max      3828.040000
Name: Amount, dtype: float64

In [9]:
## Statistical measure of data
## Checking the Description  of the DataSet for Fraudalent Transactions

fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [10]:
## Compare the values for both transaction on basic of mean

data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,440.514919,-0.191290,0.240299,0.879805,0.245752,-0.028989,0.127834,0.105288,-0.070509,0.005240,...,0.063227,-0.005717,-0.120199,-0.046657,0.004919,0.116965,0.029516,0.014069,-0.015882,65.06451
1,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.50000

#### Under - Sampling : (For imbalanced data)

- Build a sample dataset containing similar distribution of Legit Transaction & Fraud Transaction. We are going to take 492 Random Transactions from Legit Transactions then we are going to join them with Fraud Transactions. We will have 492 Legit Transaction & 492 Fraud Transaction. It will have uniform distribution & give better predictions.

- Fraud Transactions --> 492

In [11]:
legit_sample = legit.sample(n = 492)

#### Concanating 2 DataFrames (Joining)

In [12]:
## Joining two dataframe and checking it
new_data = pd.concat([legit_sample, fraud], axis = 0)
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
772,581,1.153455,-0.414609,-0.356476,0.330125,-0.221110,-0.545366,0.296184,-0.339412,-1.355716,...,-0.675878,-1.776193,-0.045492,-0.529826,0.442843,-0.656075,0.002982,0.043879,145.56,0
524,388,0.199489,0.705636,1.398115,1.219647,0.149196,-0.698932,-0.551006,-0.872024,-0.370324,...,0.640890,-0.701341,-0.757939,0.639510,0.147696,-0.544986,0.274528,0.280555,9.99,0
758,569,-0.461788,0.443205,1.805630,-1.154090,0.159950,-0.472074,0.649425,-0.100823,-0.220588,...,-0.048765,-0.136351,-0.120306,0.013575,-0.455418,0.675958,-0.155641,-0.120386,15.25,0
126,79,-2.374380,0.597145,0.036656,-1.406989,0.299692,-0.341103,0.624572,0.369832,0.344458,...,-0.423323,-0.527400,0.162980,-0.894113,-0.087018,0.718174,-0.011363,-0.431914,80.00,0
440,317,-0.378489,0.532043,1.498352,-1.451159,0.245405,-0.648925,0.849375,-0.159859,-0.194442,...,-0.036825,-0.083855,-0.184519,0.032645,-0.396424,0.722854,-0.165667,-0.124331,7.69,0

In [13]:
## Checking total values of data

new_data['Class'].value_counts()

0    492
1      2
Name: Class, dtype: int64

In [14]:
## Checking whether we got a good sample or bad sample, in case if we got a bad sample then the mean values will be very different

new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,443.325203,-0.179694,0.299072,0.910251,0.236356,-0.067893,0.082125,0.085522,-0.107724,0.055768,...,0.059136,-0.014884,-0.121954,-0.037297,0.000472,0.122793,0.046709,0.016471,-0.026458,53.48878
1,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.50000

#### From above distribution of class values by comparing with previous values we can say that nature of dataset have not changed  & the difference is still there & our model will predict with good accuracy

## Model Building :-

### Splitting the Data into Features & Target

In [15]:
## Assigning the values to x and y variable for model building
x = new_data.drop(columns = 'Class', axis =1)
y = new_data['Class']

In [16]:
print(x)

      Time        V1        V2        V3        V4        V5        V6  \
772    581  1.153455 -0.414609 -0.356476  0.330125 -0.221110 -0.545366
524    388  0.199489  0.705636  1.398115  1.219647  0.149196 -0.698932
758    569 -0.461788  0.443205  1.805630 -1.154090  0.159950 -0.472074
126     79 -2.374380  0.597145  0.036656 -1.406989  0.299692 -0.341103
440    317 -0.378489  0.532043  1.498352 -1.451159  0.245405 -0.648925
...    ...       ...       ...       ...       ...       ...       ...
500    368 -0.409900  1.183088  1.598967  0.353088  0.309710 -0.312400
1157   904  1.177107 -0.877197  0.334957 -0.505469 -0.999292 -0.214331
581    433 -0.599759  1.383107  2.381261  2.686183  0.317047  0.801453
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
772   0.296184 -0.339412 -1.355716  ... -0.196085 -0.675878 -1.776193
524  -0.551006 -0.872024 -0.370324  ... -0.203632  0.640890 -0.701341
758   0.649425 -0.100823 -0.220588  ...  0.005715 -0.048765 -0.136351
126   0.624572  0.369832  0.344458  ... -0.170734 -0.423323 -0.527400
440   0.849375 -0.159859 -0.194442  ... -0.088347 -0.036825 -0.083855
...        ...       ...       ...  ...       ...       ...       ...
500   0.707197 -0.043206 -0.892869  ...  0.117258 -0.163371 -0.396155
1157 -0.590595  0.085636 -0.684642  ...  0.098356  0.176109  0.429391
581   0.591630  0.000285 -1.259088  ...  0.415559 -0.268743 -0.388863
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
772  -0.045492 -0.529826  0.442843 -0.656075  0.002982  0.043879  145.56
524  -0.757939  0.639510  0.147696 -0.544986  0.274528  0.280555    9.99
758  -0.120306  0.013575 -0.455418  0.675958 -0.155641 -0.120386   15.25
126   0.162980 -0.894113 -0.087018  0.718174 -0.011363 -0.431914   80.00
440  -0.184519  0.032645 -0.396424  0.722854 -0.165667 -0.124331    7.69
...        ...       ...       ...       ...       ...       ...     ...
500  -0.069498  0.069735 -0.298407  0.199188  0.099692  0.118617    1.98
1157 -0.110342  0.250072  0.507079 -0.150358  0.001651  0.006636   75.13
581  -0.273141  0.006995  0.144277  0.081082  0.041199 -0.081265    5.31
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [17]:
print(y)

772     0
524     0
758     0
126     0
440     0
       ..
500     0
1157    0
581     0
541     1
623     1
Name: Class, Length: 494, dtype: int64

#### Splitting the Data into Train & Test

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2)

In [19]:
print(x.shape, x_train.shape, x_test.shape)

(494, 30) (395, 30) (99, 30)

#### Model Training

- Logistic Regression

In [20]:
## Using the Logistic Regression Model
model = LogisticRegression(penalty='l2',
                            dual=False,
                            tol=0.0001,
                            C=1.0,
                            fit_intercept=True,
                            intercept_scaling=1,
                            class_weight=None,
                            random_state=42,
                            solver='lbfgs',
                            max_iter=100,
                            multi_class='auto',
                            verbose=2,
                            warm_start=False,
                            n_jobs=-1,
                            l1_ratio=None)

## Training the logistic regression model with train data
model.fit(x_train, y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    2.9s finished

LogisticRegression(n_jobs=-1, random_state=42, verbose=2)

### Model Evaluation :-

In [21]:
## Checking the Accuracy score on training data

x_train_predict = model.predict(x_train)
train_data_accuracy = accuracy_score(x_train_predict, y_train)
print('Accuracy Score on Training Data :', train_data_accuracy)

Accuracy Score on Training Data : 1.0

In [22]:
## Checking the Accuracy score on testing data

x_test_predict = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_predict, y_test)
print('Accuracy Score on Testing Data :', test_data_accuracy)

Accuracy Score on Testing Data : 1.0

## CONCLUSION :-

#### Accuracy score of our model is very good & our model is not underfitted/overfitted. We can use this model for Prediction.

### Predictive System :-

In [23]:
input_data = (1,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,-0.0549519224713749,-0.226487263835401,0.178228225877303,0.507756869957169,-0.28792374549456,-0.631418117709045,-1.0596472454325,-0.684092786345479,1.96577500349538,-1.2326219700892,-0.208037781160366,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5)

# Changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshaping the array for one sample
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('The Transaction is Legit')
else:
    print('The Transaction is Fraud')

[0]
The Transaction is Legit

### In this way we can conclude that the Transaction is Legit on the basic of our predictive Model.

                                 - - - - - - - - X X X X X X X X - - - - - - - -